body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

/* style and position heading areas */
.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 32px;
    margin: 0;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;

}


/* resyles links and list */

ul {
    padding: 4px;
}

li {
    list-style-type: none;
    padding: 4px;
    margin: 8px;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: #F9FAF8;
}

/* establishes welcome container and children containers */

.welcome-info-container {
    padding: 6px 12px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    align-items: center;
    gap: 72px;
    background-color: #1F2937;

}

.welcome-texts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



/* styles and position elements */

.welcome-image{
    flex-grow: 0;
    max-height: 500px;
    max-width: auto;
}

.welcome-texts {
    display: flex;
    flex-direction: column;

}

.welcome-heading {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    margin: 12px;
}

.welcome-message{
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 12px;
}

.right-links-list {
    display: flex;
    flex-direction: row;

}

.welcome-info-container .sign-up-button{
    max-width: 96px;
    padding: 12px;
    margin: 12px;
    border-radius: 9px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
    color:#E5E7EB;

}

/* postions addtional info section */
.additional-info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.additional-info-header {
    margin-top: 48px;
    text-align: center;
}

.additional-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin: 0px 12px 42px;
}

/* styles and potisions elements */

.box {
    width: 90px;
    height: 90px;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: #3882F6;
}

.item {
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
    gap: 6px;
}

.item .subtext {
    text-align: center;
    color: rgb(123, 119, 119);
}

/* syles and positions quotes section */
.quote-section{
    display: flex;
    align-items: center;
    background-color: #E5E7EB;
    padding: 72px 0;
}

.quote-container {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    margin: 0 auto;
}

.quote-paragraph {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-credit {
    margin-left: auto;
}

/* positions and styles */
.call-to-action-container { 
    display: flex;
    flex-direction: row;  
    margin: 60px 0px;
    justify-content: center;
}

/* is named links to stay consistent even though it doesn't cantain any links */
.call-to-action-panel {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 32px;
    background-color: #3882F6;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 62px;
    padding: 48px;
    border-style: none;
    border-width: 3px;
    border-radius: 9px;
}

.left-links {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #F9FAF8;

}

.left-links .action-header,
.left-links .action-subtext {
    margin: 0px;
}


.call-to-action-panel .sign-up-button{
    border-radius: 9px;
    text-align: center;
    padding: 12px 48px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
    border-color:#E5E7EB;
    border-width: 3px;

}

/* styles and positions footer */
.footer {
    text-align: center;
    padding: 32px 0;
    background-color: #1F2937;
    color:#F9FAF8;

}
