body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 4px 32px;
}

.welcome-info-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.welcome-texts {
    display: flex;
    flex-direction: column;
}